
<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>favor</title>
   <script type="text/javascript">





   </script>
 <link rel="stylesheet" href="./css/stylesheet.css" type="text/css">
 </head>
 <body>

   </div>
   <div class="header">
     <div class="back">Back</div>
     <img class="progress" src="./img/Progress.png"></img>
     <img class="progress1" src="./img/Progress1.png"></img>
     <img class="progress2" src="./img/Progress2.png"></img>
   </div>

   <div class="bottomsheet">

     <div class="content">
       <h1>Hi there,
         <br>
         need a favor?
         <br>

         <br>
       </h1>
         <input id="subdomain" placeholder="What's your favor?"></input>
       <button id="btn">Continue</button>
       <!-- //customize and complie contract? -->


     </div>


     <div class="content1">
       <h1>Connect your wallet
         <br>
       </h1>
   <!-- I toke some shortcuts and used images for the easy/medium/hard/extreme tiles -->

      <img id="metamask" src="./img/MetaMask.svg" value="metamask"><p id="metamaskText">MetaMask ➞</p></img>
      <img id="status" src="./img/status.svg" value="status"><p id="statusText">Status ➞</p></img>


    </div>
    <div class="content2">
      <h1>Confirm your favor and publish
        <br>
      </h1>
      <p id="favor"></p>
      <button id="btn1">Publish</button>
      <!-- //deploy contract with web3 deploy method -->
   </div>
   <div class="content3">
     <img class="art" src="./img/Illustration.png"></img>
     <p id="finish"> You did it! Welcome to the blockchain!</p>
     <p id="finish1"> Go to your profile to edit your contract, add favors, and interact with your friends. You can only add friends by doing or recieving favors</p>


     <button id="btn2" type="submit">Go to your profile</button>

     <!-- //re-direct to profile -->
  </div>

  </div>


 <script src='./js/utils.js'></script>
 </body>

</html>
