 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="/css/profile_stylesheet.css" type="text/css">

  </head>
  <body>
    <div id='favors'>
      <h1 id='favorsList'>
        Favor Requests
      </h1>
    </div>
    <div id='friends'>
      <h1 id='favorsList'>
        Friends
      </h1>
    </div>
    <div id='status'>
      <h1 id='favorsList'>
        Statuses
      </h1>
    </div>

  </body>

</html>
