.back{
position: absolute;
left: 8%;
right: 81.6%;
top: 10%;
bottom: 25%;

/* Label/Back */
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 18px;

/* identical to box height */
display: none;
align-items: center;

/* Utilities/White */
color: #FFFFFF;
}




.progress{
display: flex;
flex-direction: row;
padding: 0px;

position: absolute;
width: 10%;
height: auto;
left: 43.2%;
right: 43.47%;
top: 37.5%;
bottom: 37.5%;
margin-left: auto;
margin-right: auto;
}

.progress1{
display: none;
flex-direction: row;
padding: 0px;

position: absolute;
width: 10%;
height: auto;
left: 43.2%;
right: 43.47%;
top: 37.5%;
bottom: 37.5%;
margin-left: auto;
margin-right: auto;
}
.progress2{
display: none;
flex-direction: row;
padding: 0px;

position: absolute;
width: 10%;
height: auto;
left: 43.2%;
right: 43.47%;
top: 37.5%;
bottom: 37.5%;
margin-left: auto;
margin-right: auto;
}

.bottomsheet{

position: fixed;
width: 100%;
height: 100vh;
left: 0px;
top: 15%;

/* Utilities/White */
background: #FFFFFF;
border-radius: 100px 100px 0px 0px;
-webkit-transition: top .3s ease-in-out;
-moz-transition: top .3s ease-in-out;
-o-transition: top .3s ease-in-out;
transition: top .3s ease-in-out;
}

.content{

display: flex;
flex-direction: column;

position: absolute;
width: 100%;
top: 174px;

}

.content1{

display: none;
flex-direction: column;

position: absolute;
width: 100%;
top: 174px;


}

.content2{

display: none;
flex-direction: column;

position: absolute;
width: 100%;
top: 174px;


}

.content3{
display: none;
flex-direction: column;

position: fixed;
width: 100%;
top: 174px;




}

.art{

width: 100%;
transition: opacity 1s;
opacity: 0;

}

.text{

width: 100%;
transition: opacity 1s;
opacity: 0;

}

#btn2{

border-radius: 60px;
border-style: none;
width: 80%;
height: 130px;

/* Utilities/Gray */
background: #FFFFFF;
border-radius: 60px;
margin-top: 170%;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 45px;
pointer-events: none;
  transform           : rotate(0deg);
  -webkit-animation: btnWiggle 4.5s infinite;
  -moz-animation: btnWiggle 4.5s infinite;
  -o-animation: btnWiggle 4.5s infinite;
  animation: btnWiggle 4.5s infinite;


/* identical to box height */

letter-spacing: 0.8px;

/* Utilities/Gray Darker */
color: #01033A;
}

h1{
position: static;
width: 75%;
/*height: 111px;*/
left: 0px;
top: 0px;

/* Title/Main */
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 115px;
letter-spacing: -0.2px;

/* Utilities/Black */
color: #01033A;

/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
margin: 0px 40px;
}

.nameValue{
position: static;
width: 75%;
/*height: 111px;*/
left: 0px;
top: 0px;

/* Title/Main */
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 115px;
letter-spacing: -0.2px;

/* Utilities/Black */
color: #01033A;

/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
margin: 0px 40px;


}

input{
margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
position: static;
width: 75%;
height: 130px;


/* Utilities/Gray */
background: #F1F0F5;
border-radius: 40px;
border-style: solid;
border-color: #F1F0F5;
border-width: 10px;
margin-top: 10%;
transition: background 1s;


}

input:focus{
margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
position: static;
width: 75%;
height: 130px;


/* Utilities/Gray */
background: #FFF;
border-radius: 40px;
border-color: #F1F0F5;
border-style: solid;
border-width: 10px;
margin-top: 10%;



}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: .3; /* Firefox */
}




input[placeholder="What's your favor?"]#subdomain{


/* Label/Input */
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 50px;
padding-left: 40px;



/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.2px;
transition: color 1s;

/* Utilities/Gray Darker */
color: #D7D5DF;
}

input[placeholder="What's your favor?"]#subdomain:hover{


/* Label/Input */
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 50px;
padding-left: 40px;
color: #000;



/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.2px;

/* Utilities/Gray Darker */
color: #000;
}


#metamask{
	margin-top: 140px;
	height: 350px;
	opacity: 1;
  margin-left: 25%;
  margin-right: 25%;
	-webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

#metamaskText{
	opacity: 1;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  font-family: Helvetica;
  font-style: normal;
  letter-spacing: -0.2px;
  color: #01033A;
  margin-right: 25%;
  margin-left: 25%;
  text-align: center;
  font-weight: bold;
	-webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

#status{
	margin-top: 140px;
	height: 350px;
	opacity: 1;
  margin-left: 25%;
  margin-right: 25%;
	-webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

#statusText{
	opacity: 1;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  font-family: Helvetica;
  font-style: normal;
  letter-spacing: -0.2px;
  color: #01033A;
  margin-right: 25%;
  margin-left: 25%;
  text-align: center;
  font-weight: bold;
	-webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

#favor{
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  font-family: Helvetica;
  font-style: normal;
  letter-spacing: -0.2px;
  color: #01033A;
  margin-right: 25%;
  margin-left: 25%;
  text-align: center;
  font-weight: bold;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  margin-top: 25%;

}

#finish{
  opacity: 1;
  font-size: 70px;
  font-family: Helvetica;
  font-style: normal;
  letter-spacing: 0.5px;
  color: white;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
  font-weight: bold;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;


}

#finish1{
  opacity: 1;

  font-size: 35px;
  font-family: Helvetica;
  font-style: normal;
  letter-spacing: 1px;
  color: #dfdddd;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;

}



button{
position: fixed;
right: 10%;
border-radius: 60px;
border-style: none;
width: 35%;
height: 130px;

/* Utilities/Gray */
background: #F1F0F5;
border-radius: 60px;
margin-top: 70%;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 45px;
pointer-events: none;


/* identical to box height */

letter-spacing: 0.8px;

/* Utilities/Gray Darker */
color: #D7D5DF;
}

#btn1{
position: relative;
left: 55%;
border-radius: 60px;
border-style: none;
width: 35%;
height: 130px;

/* Utilities/Gray */
background: #01033A;
border-radius: 60px;
margin-top: 15%;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 45px;
pointer-events: auto;
color: #fff;

transition: all 0.5s ease-out;


/* identical to box height */

letter-spacing: 0.8px;

}

#btn3{

border-radius: 60px;
border-style: none;
width: 80%;
height: 130px;

/* Utilities/Gray */
background: #FFFFFF;
border-radius: 60px;
margin-top: 170%;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 45px;
pointer-events: none;
  transform           : rotate(0deg);
  -webkit-animation: btnWiggle 4.5s infinite;
  -moz-animation: btnWiggle 4.5s infinite;
  -o-animation: btnWiggle 4.5s infinite;
  animation: btnWiggle 4.5s infinite;


/* identical to box height */

letter-spacing: 0.8px;

/* Utilities/Gray Darker */
color: #01033A;
}




.header{
position: fixed;
width: 100%;
height: 10%;
left: 0px;
top: 5%;
}

.bar{
position: fixed;
left: 0%;
right: 0%;
bottom: 95.81%;
height: 10%;
}

.home{
position: fixed;
bottom: 1.5%;
height: .5%;
width: 50%;
left:  25%;;
background: #000000;
border-radius: 100px;
}

body {
position: relative;
width: 100%;
height: 100%;

/* Accent/Main */
background: #7D7EF3;
}


/* animation */
@-webkit-keyframes btnWiggle {
  0% {-webkit-transform: rotate(0deg);}
  2% {-webkit-transform: rotate(-3.5deg);}
  3.5% {-webkit-transform: rotate(3.5deg);}
  5% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(0deg);}
}
@-o-keyframes btnWiggle {
  0% {-webkit-transform: rotate(0deg);}
  2% {-webkit-transform: rotate(-3.5deg);}
  3.5% {-webkit-transform: rotate(3.5deg);}
  5% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(0deg);}
}
@keyframes btnWiggle {
  0% {-webkit-transform: rotate(0deg);}
  2% {-webkit-transform: rotate(-3.5deg);}
  3.5% {-webkit-transform: rotate(3.5deg);}
  5% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(0deg);}
}
